.messagebox {
  display: flex;
  gap: 1.25rem;
  padding: 0.75rem 1.5rem;
  align-items: flex-start;
  transition: all 0.2s ease;
  width: 100%;
}

.message {
  flex: 0 1 auto;
  max-width: 85%;
  background-color: rgba(159, 133, 133, 0.929);
  border-radius: 1rem;
  padding: 1.25rem;
  margin: 0;
  backdrop-filter: blur(10px);
  word-wrap: break-word;
}

.icon {
  padding-top: 0.75rem;
  opacity: 0.85;
  transition: all 0.2s ease;
}

.icon:hover {
  opacity: 1;
}

/* User messages */
.messagebox[data-role="user"] .message {
  background-color: rgba(118, 115, 155, 0.24);
  border-color: #d6dbdb00;
}

/* Assistant messages */
.messagebox[data-role="assistant"] .message {
  background-color: #916e572d;
  border-color: #68585000;
}

/* Alinea los mensajes del usuario a la izquierda */
.messagebox[data-role="user"] {
  justify-content: flex-start;
}

/* Alinea los mensajes del asistente a la derecha */
.messagebox[data-role="assistant"] {
  justify-content: flex-end;
}
