.information {
    padding-bottom: 0.5vw;
    margin-right: 1vw;
    background-color: #64615e; /* Un gris más claro */
    /* o podríamos usar: background-color: #32281f; /* Alternativa un poco más cálida */
    border-radius: 0.5rem;
}